.Create {
  max-width: 580px;
  margin: auto;
  padding: 50px 35px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .create_form {
    padding: 25px 35px;
    background: transparent;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.2);
  }
}
