@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiro+Telugu:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #eaeaea;
}

.container {
  max-width: 1410px;
  margin: auto;
}
