.Reklama {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #101010;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin-top: 22px;
  margin-bottom: 44px;

  .text {
    width: 25%;

    h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 37px;
      text-align: center;
      color: #ffffff;
    }
  }

  .image img {
    width: 100%;
    margin-bottom: -24px;
    margin-top: -40px;
  }
}
