.MainCategory {
  display: flex;
  flex-direction: column;

  .main_products {
    display: flex;
    flex-wrap: wrap;
  }

  .MuiOutlinedInput-root {
    width: 100%;

    .MuiSelect-select {
      padding: 10.5px 14px;
    }
  }
}
