.BuyModal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: 0.3);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;

  .same_modal {
    max-width: 500px;
    padding: 35px 45px;
    border-radius: 40px;
    background: #eaeaea;
    flex-grow: 1;
    position: relative;
    z-index: 25;

    .close_modal {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background: transparent;
      position: absolute;
      top: 20px;
      right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px #101010 solid;
      cursor: pointer;
    }

    h3 {
      font-size: 24px;
      font-weight: 500;
      color: #101010;
      text-align: center;
      margin-bottom: 25px;
    }

    .form_button {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      margin-top: 50px;

      button {
        background: linear-gradient(270deg, #f7d716 0%, #ec9b3b 100%);
        border: none;
        padding: 15px 50px;
        font-size: 18px;
        color: #fff;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
        border-radius: 35px;
        cursor: pointer;

        &:disabled {
          background: rgba($color: #f66b0e, $alpha: 0.2);
          color: #000;
          cursor: not-allowed;
        }
      }
    }
  }

  .after_form {
    padding-top: 45px;

    h3 {
      font-size: 24px;
      font-weight: 500;
      color: #101010;
      text-align: center;
      margin-bottom: 45px;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: #019267;
        color: #fff;
        font-size: 22px;
        margin-left: 20px;
      }
    }

    p {
      font-size: 18px;
      color: #101010;
      text-align: center;
      margin-bottom: 25px;
    }

    .after_button {
      display: flex;
      justify-content: center;
      margin-bottom: 35px;

      button {
        background: linear-gradient(270deg, #219f94 0%, #2eb086 100%);
        border: none;
        padding: 15px 50px;
        font-size: 18px;
        color: #fff;
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
        border-radius: 35px;
        cursor: pointer;

        &:disabled {
          background: rgba($color: #f66b0e, $alpha: 0.2);
          color: #000;
          cursor: not-allowed;
        }
      }
    }

    .social {
      display: flex;
      flex-direction: column;
      align-items: center;

      .social_link {
        display: flex;
        align-items: center;
        font-size: 18px;
        margin-bottom: 12px;

        a {
          color: #101010;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        svg {
          font-size: 24px;
          margin-right: 15px;
          color: #1572a1;
        }
      }
    }
  }
}
