.SmallCard {
  width: 20%;
  border-radius: 15px;
  border: 1px solid #a7bbc7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 25px;
  margin: 15px;
  overflow: hidden;
  position: relative;
  color: #101010;

  .card_img {
    width: 80%;
    height: 140px;
    margin-bottom: 10px;

    img {
      width: 100%;
      height: 100%;
      transition: all 0.2s;
    }
  }

  .card_text {
    font-weight: 500;
    text-transform: uppercase;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.2s;
  }

  &:hover::after {
    background: rgba($color: #000000, $alpha: 0.2);
  }

  &:hover img {
    transform: scale(1.15);
  }
}
